body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    row-gap: 50px;
   
}

/* conteineren til innholdet som flexes */
#innhold {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    justify-content: center;
    justify-content: space-between;
    row-gap: 50px;
}

/* sørg for at divene er riktig høyde og bredde */
#kjott, #vegetar, #suppe, #sjomat, #bakst, #dessert{
    width: 281px;
    height: 233px;;
}

.header {
    background-color: rgba(152, 157, 205, 1);
    width: 100%;
    text-align: center;
    border: solid;
}

h1 {
    color: rgb(0, 0, 0);
}

#kjottP {
    position: relative;
    top: -150px;
    left: 70px;
    color: white;
    font-size: 48px;
    color: rgb(241, 30, 30);
    margin: 0;
    padding: 0;
    visibility: hidden;
}

#vegetarP {
    position: relative;
    top: -150px;
    left: 30px;
    color: white;
    font-size: 48px;
    color: rgb(66, 229, 26);
    margin: 0;
    padding: 0;
    visibility: hidden;
}

#suppeP {
    position: relative;
    top: -150px;
    left: 70px;
    color: white;
    font-size: 48px;
    color: rgb(241, 201, 107);
    margin: 0;
    padding: 0;
    visibility: hidden;
}

#sjomatP {
    position: relative;
    top: -150px;
    left: 55px;
    color: white;
    font-size: 48px;
    color: rgb(50, 209, 237);
    margin: 0;
    padding: 0;
    visibility: hidden;
}

#bakstP {
    position: relative;
    top: -150px;
    left: 65px;
    color: white;
    font-size: 48px;
    color: rgb(235, 235, 84);
    margin: 0;
    padding: 0;
    visibility: hidden;
}

#dessertP {
    position: relative;
    top: -150px;
    left: 40px;
    color: white;
    font-size: 48px;
    color: rgb(243, 176, 53);
    margin: 0;
    padding: 0;
    visibility: hidden;
}

/* styling for kjøttrettsiden */

h2 {
    margin: 0;
}
.dropDownClick {
    background-color: rgb(255, 255, 255);
    border-bottom: solid;
    border-right: solid;
    height: 40px;
    display: flex;
    width: 700px;
    justify-content: center;
    position: relative;
}

.dropDownClick img {
    height: 20px;
    bottom: 10px;
    position: absolute;
    left: 600px;
}

.dropDownOppskrift :hover {
    cursor: pointer;
}

.oppskrift {
    width: 700px;
    /* visibility: hidden; */
    transition: all .5s ease;
    height: 0;
    overflow: hidden;
}


ul {
    margin: 0;
}